@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #efefef;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 15px;
  background-color: #cfcdcd;
}

main section {
  margin-bottom: 60px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu ul {
  display: flex;
}

header .menu ul li {
  margin: 0 15px;
}

.about {
  text-align: center;
}

.ceo .image,
.ceo .text {
  width: 48%;
}

.ceo .image img {
  width: 100%;
}

.ceo .wrapper {
  align-items: center;
}

.services .card {
  padding: 5px;
  justify-content: space-between;
  width: 32%;
  border: #cfcdcd solid 1px;
  border-radius: 5px;
  box-shadow: 5px 10px #e7e7e7;
  position: relative;
}

.services .card .price {
  padding: 0 5px;
  background-color: #db81ff;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  right: 0;
  transform: translateX(50%);
  transition: all 0.3s ease;
}

.services .card:hover .price {
  color: #fff;
  background-color: #8d22b8a4;
  font: bold;
}

.services .card a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  background-color: #db81ff;
  transition: all 0.3s ease;
}

.services .card a:hover {
  color: #fff;
  background-color: #8d22b8a4;
  font: bold;
}

.contact .wrapper {
  align-items: center;
  justify-content: space-between ;
}
.contact .wrapper > div {
  width: 48%;
  
}

.form {
  justify-content: end;
  
}

form input,
form textarea {
  display: block;
  margin-bottom: 20px;
  padding: 8px 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  outline: none;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

/*  */
form button {
  width: 100%;
  padding: 10px 15px;
  border: 0;
  border-radius: 5%;
  cursor: pointer;
  background-color: #db81ff;
  transition: all 0.3s ease;
}

form button:hover {
  color: #fff;
  background-color: #8d22b8a4;
  font: bold;
}

footer {
  padding: 15px;
  background-color: #cfcdcd;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  color: #4f036d;
}
